{% set s = {
    width: 380,
    quality: 100,
} %}

{% set m = {
    width: 760,
    quality: 100,
} %}

{% set l = {
    width: 1425,
    quality: 100,
} %}

{% set xl = {
    width: 2850,
    quality: 100,
} %}

{% set xxl = {
    width: 3800,
    quality: 100,
} %}

{% set xxxl = {
    width: 5000,
    quality: 100,
} %}

{% if not(backgroundPos) %}
{% set backgroundPos = '' %}
{% endif %}
<div class="{{ classList }}"
     style = "{{ backgroundPos }}"
     data-bkcgrnd-s="{{ backgroundImg.getUrl(s) }}"
     data-bkcgrnd-m="{{ backgroundImg.getUrl(m) }}"
     data-bkcgrnd-l="{{ backgroundImg.getUrl(l) }}"
     data-bkcgrnd-xl="{{ backgroundImg.getUrl(xl) }}"
     data-bkcgrnd-xxl="{{ backgroundImg.getUrl(xxl) }}"
     data-bkcgrnd-xxxl="{{ backgroundImg.getUrl(xxxl) }}"
></div>
